.header {
    padding: 30px 0 60px 0;
}

.container__header {
    max-width: 1770px;
    min-height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    margin: 0 auto;
}

.logo {
    width: 190px;
    height: 41px;
    /*margin-right: 123px;*/
}

.box {
    width: 1006px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 97px;
}

.navigation-btn {
    width: 151px;
    height: 54px;
    display: flex;
    gap: 7px;
    padding: 9px 28px 12px 30px;
    align-items: center;
    background: #3670C7;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
}

.search {
    width: 756px;
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #8F8F8F;
    background-color: #EFEFEF;
    border-radius: 30px;
    padding-left: 40px;
    background-image: url("../../img/btn.png");
    background-repeat: no-repeat;
    background-position: 656px;
}

.buyer__list {
    width: 354px;
    height: 61px;
    display: flex;
    justify-content: space-between;
}

.profile {
    width: 69px;
    height: 61px;
    background-image: url("../../img/profile.png");
    background-size: cover;
}

.basket {
    width: 63px;
    height: 61px;
    background-image: url("../../img/basket.png");
    background-size: cover;
}

.favourite {
    width: 82px;
    height: 61px;
    background-image: url("../../img/favourite.png");
    background-size: cover;
}

.container__header2 {
    display: none;
}

@media (max-width: 1024px) {
    .container__header {
        max-width: 940px;
        height: 149px;
    }

    .container__navigation {
        max-width: 940px;
        height: 149px;
        flex-wrap: wrap;
    }

    .logo {
        margin-right: 456px;
    }

    .buyer__list {
        max-width: 294px;
        height: 61px;
    }

    .navigation-btn {
    }

    .search {
        width: 700px;
        background-position: 599px;
    }

    .box {
        width: 940px;
        order: 1;
        margin-right: 0;
    }

}

@media (max-width: 768px) {
    .container__header {
        max-width: 700px;
        height: 115px;
        align-content: space-between;
    }


    .logo {
        width: 165px;
        margin-right: 314px;
    }

    .search {
        width: 540px;
        height: 42px;
        background-position: 458px;
        background-size: 82px 42px;

    }

    .buyer__list {
        max-width: 221px;
        height: 44px;

    }

    .profile {
        width: 52px;
        height: 44px;
    }

    .basket {
        width: 47px;
        height: 44px;
    }

    .favourite {
        width: 62px;
        height: 44px;
    }

    .navigation-btn {
        width: 115px;
        height: 42px;
        font-size: 16px;
        line-height: 150%;
        padding: 7px 24px 11px 21px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 20px 0;
    }

    .container__header2 {
        display: inherit;
        max-width: 280px;
        height: 125px;
    }

    .logo {
        width: 114px;
        height: 25px;
        margin-right: 166px;
        margin-bottom: 20px;
    }

    .navigation-btn {
        width: 79px;
        height: 30px;
        font-size: 12px;
        line-height: 150%;
        padding: 5px 14px 7px 16px;
    }

    .sort {
        width: 14px;
        height: 14px;
    }

    .search {
        width: 280px;
        height: 30px;
        background-size: 50px 30px;
        background-position: 230px;
        font-size: 8px;
        line-height: 130%;
        padding-left: 16px;

    }

    .buyer__list {
        max-width: 130px;
        height: 30px;

    }

    .profile {
        width: 25px;
        height: 25px;
    }

    .basket {
        width: 25px;
        height: 25px;
    }

    .favourite {
        width: 25px;
        height: 25px;
    }

    .container__header {
        display: none;
    }

    .box2 {
        width: 280px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

}

